<h2>ᕙ(๑ ⚈ै‿ ⚈ै๑)ᕗ</h2>
<h1>Daum Cafe Rankings</h1>
<p>Last updated: <%=@top.first.updated_at%></p>
<hr>

<ol>
<%= will_paginate @top %>
<p></p>
<% @top.each do |cafe| %>
  <li>
    <a href="<%=cafe.url%>"><%=cafe.title%></a>
    <span>Members: <%=cafe.score.to_i.to_s.chars.to_a.reverse.each_slice(3).map(&:join).join(",").reverse%></span>
  </li>

<% end %>
<%= will_paginate @top %>
</ol>
<p></p>
